* {
    box-sizing: border-box;
}

#section {
    width: 100%;
    position: relative;
}

body {
    margin: 0;
}

header {
    color: white;
}

a:link {
    color: white;
}

a:visited {}

a:hover {}
