* {
    box-sizing: border-box;
}

body {
    margin: 0;
}

nav {
    text-align: end;
    font-family: 'Jura', sans-serif;
    padding-top: 50px;
    padding-left: 35px;
    padding-right: 20px;
}

main {
    max-width: 1150px;
}

.sectionwrapper {
    margin: 0 auto;
}

a {
    padding-left: 22px;
    padding-right: 22px;
    font-size: 1.7rem;
}

a:link {
    color: white;
    text-decoration: none;
    text-align: center;
}

a:visited {
    color: white;
}

a:hover {
    color: #78729E;
}

a:active {
    font-weight: 700;
}

/*logo*/

#logo {
    padding-left: 41px;
    position: fixed;
    padding-top: 25px;
}

#logo img {
    height: 75px;
}

.navigation {
    background-color: #050F23;
    height: 50%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    padding-bottom: 50px;
}
