nav ul {
    position: absolute;
    z-index: 1;
    background-color: #050F23;
    width: 100%;
    height: 15vh;
    line-height: 1.5;
    padding: 0;
    margin: 0 auto;
}

main {
    margin: auto;
}

h1 {
    padding-bottom: 12px;
}

p {
    line-height: 1.5;
    font-family: 'Play', sans-serif;
}

h2,
h3 {
    font-family: 'Play', sans-serif;
}

#navigation {
    display: grid;
    grid-template-columns: auto;
}

#firstsection .sectionwrapper img {
    padding: 20px 0px 20px 0px;
}

#secondsection .sectionwrapper h2 {
    margin-bottom: 22px;
}

#secondsection .sectionwrapper .col1 {
    margin-bottom: 22px;
}

#thirdsection .sectionwrapper img {
    width: 150px;
    object-fit: cover;
}

#thirdsection .facebook {
    padding-bottom: 15px;
}

#thirdsection .instagram {
    padding-bottom: 15px;
}

secondsection .sectionwrapper .col1 {
    padding-bottom: 10px;
}

@media (min-width:600px) {
    #thirdsection .sectionwrapper .social {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        padding-right: 20px;
    }

    nav ul {
        position: relative;
        z-index: 1;
        background-color: #050F23;
        width: 100%;
        height: 4.5vh;
        line-height: 1.5;
        padding: 0 auto;
        margin: 0 auto;
    }

}

@media (min-width:800px) {
    main {
        padding-left: 20px;
        padding-right: 20px;
    }

    #thirdsection .sectionwrapper .social {
        padding-right: 160px;
    }

    #firstsection .sectionwrapper img {
        padding-bottom: 20px;
    }

    #secondsection .sectionwrapper {
        display: grid;
        grid-template-columns: 1fr 1fr;
        column-gap: 25px;
    }

    #secondsection .sectionwrapper .col1 {
        grid-column: 1/2;
    }

    #secondsection .sectionwrapper .col2 {
        grid-column: 2/3;
    }

    #secondsection .sectionwrapper h2 {
        margin-bottom: 0px;
    }

    #secondsection .sectionwrapper .col1 {
        margin-bottom: 0px;
    }
}

@media (min-width:875px) {
    #thirdsection .sectionwrapper .social {
        padding-right: 300px;
    }
}

@media (min-width:950px) {
    #thirdsection .sectionwrapper .social {
        padding-right: 400px;
    }
}
