#portfolio_menu .sectionwrapper {
    padding-top: 100px;
    padding-bottom: 100px;
    position: relative;
    width: 100%;
    padding-left: 25px;
    padding-right: 25px;
}

main {
    margin: auto;
}

img {
    position: relative;
}

.web {
    margin-bottom: 15px;
}

.ux {
    margin-bottom: 15px;
}

.animation {
    margin-bottom: 10px;
}

.indhold {
    margin-bottom: 10px;
}

@media (min-width:800px) {
    #portfolio_menu .sectionwrapper {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1fr;
        grid-gap: 20px;
        padding-left: 20px;
        padding-right: 20px;
    }

    .ux {
        grid-column: 1/2;
        grid-row: 1/2;
        margin-bottom: 0px;
    }

    .web {
        grid-column: 2/3;
        grid-row: 1/2;
        margin-bottom: 0px;
    }

    .animation {
        grid-column: 1/2;
        grid-row: 2/3;
        margin-bottom: 0px;
    }

    .indhold {
        grid-column: 2/3;
        grid-row: 2/3;
        margin-bottom: 0px;
    }

}
