nav ul {
    position: absolute;
    z-index: 1;
    background-color: #050F23;
    width: 100%;
    height: 15vh;
    line-height: 1.5;
    padding: 0;
    margin: 0 auto;
}

p {
    line-height: 1.5;
}

@media (min-width:600px) {
    nav ul {
        position: relative;
        z-index: 1;
        background-color: #050F23;
        width: 100%;
        height: 4.5vh;
        line-height: 1.5;
        padding: 0 auto;
        margin: 0 auto;
    }

    #firstsection .sectionwrapper {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-gap: 10px;
    }

    #firstsection .sectionwrapper p {
        grid-column: 1/3;
    }

    #firstsection .sectionwrapper img {
        grid-column: 3/4;
    }
}
